{% extends 'base.html' %}

{% block content %}

		<!-- Main -->
        <section id="main">
            <div class="inner">
                <header class="major special">
                    <h1>Frequently asked questions</h1>
                    <p>Here's some answers to some of your questions :)</p>
                </header>

                <!-- Text -->
                    <section>

                        <header>
                            <h3 style="text-transform:none">#1 - What is this website?</h3>
                            <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                        </header>
                        <p>This is a multi tools website that uses Youtube's videos / subtitles to create some pretty entertaining stuff, like a Pewdiepie video search engine,
                            a 'Higher or Lower' game with frequently said words etc..
                        </p>
    
                        <hr />

                        <header>
                                <h3 style="text-transform:none">#2 - How accurate are the results?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> All the results use manual subtitles (for now), so all videos since 2017 without subtitles are not counted, to be exact the 1069/1298 are being searched.
                                The subtitle comments are also NOT included in the search so it's mostly things that are said in the actual videos
                            </p>
                            
                        <hr />

                        <header>
                                <h3 style="text-transform:none">#3 - Why did you start from 2017? Why not earlier?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> No reason. for now i figured the 3 past years is a reasonable time, i will probably add older videos if i can.
                            </p>
                            
                        <hr />

                        <header>
                                <h3 style="text-transform:none">#4 - Will you add more feautures?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> If people like the idea then yes, i'm looking forward to making the video parts available to download so people could make cool stuff with them.
                            </p>
                            
                        <hr />

                        
                        <header>
                                <h3 style="text-transform:none">#5 - Why do you have ads and asking for donations?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> Hosting this website isn't free at all, ads help me pay for that. Donations will help me improve and add more feautures to this website 
                                and help support me in general.
                            </p>
                            
                        <hr />

                        <header>
                                <h3 style="text-transform:none">#6 - I have a YT Channel and i want something like this?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> Contact me and we will look into it.
                            </p>
                            
                        <hr />

                        <header>
                                <h3 style="text-transform:none">#7 - I have another question?</h3>
                                <!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
                            </header>
                            <p> Join my discord or contact me :)
                            </p>
                            
                        <hr />

                    </section>
            </div>
        </section>

{% endblock %}