{% extends 'base.html' %}

{% block content %}

    <img src="{{ url_for('static',filename='images/BlobServlet.jpg') }}" alt="Smiley face" style="width: 100%; height: auto; max-width: 500px; margin-top: 5%;">




<div class="box" style="margin-left: 10%; margin-right:10%; margin-top: 3%; background-color: rgb(202, 255, 202)">
    <p> This was supposed to be a feauture where you can make pewdiepie say any senetence, the feauture right now is on pre alpha it works sometimes but the problem with it
        right now is, it's not always pewds who's talking in the videos and my script can't tell that yet, i'm working on a voice idenification that would only use pewds voice 
        to make this feauture work, when that happens it will be released :), please consider donating so i could put more time into this!, Thank you.
    </p>
</div>



{% endblock %}